$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
body {
    background-color: #f6f6f6;
}

button {
  //color: #fff;
  background-color: #dbdbdb;
  text-shadow: 1px 1px #a8a8a8;
  border: none;
  padding: 5px;
}

h5 {
    font-weight: bold;
    font-size: 16px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
  //  padding: 20px;
 //   margin: 10px;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-size: 3em;
}

.header {
    display: flex;
    flex-flow: row wrap;
    background-color: #a8a8a8;
    color: white;
    width: 100%;
}

.header div {
    padding: 10px 20px 10px 20px;
}

.formulas {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
}

.formulas .formula:nth-child(even) {
    background-color: #f6f6f6;
}

.formulas .formula:nth-child(odd) {
    background-color: #dbdbdb;
}

.formula {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    padding: 6px;
    justify-content : space-between;
    font-size: 1.5em;
}

.formula .title {
    width: 210px;
}

.formula .value {
    width: 90px;
}

.input-groups {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
    padding: 5px;
}
.inputs {
    display: flex;
    flex-flow: row wrap;
    width: 120px;
    align-items: center;
}

.inputs label {
    margin: 0;
    margin-right: 4px;
}

.inputs input {
    width: 3em;
    background-color: #dbdbdb; 
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide {
    display: none;
}

.selected-header {
    background-color: lightblue;
}


.ibu-calculator {
    display: flex;
    flex-flow: column wrap;
}

.ibu-overhead label {
    width: 150px;
    
}

.ibu-overhead input {
    width: 50px;
    margin: 2px 5px 2px 5px;
    text-align: center;
}

.ibu-title {
    display: flex;

}

.remove-button {
    height: 75%;
}

.hops .hop:nth-child(even) {
    background-color: #f6f6f6;
}

.hops .hop:nth-child(odd) {
    background-color: #dbdbdb;
}

.hops {
    display: flex;
    flex-flow: column wrap;
}

.hop {
    padding: 4px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    text-align: center;
}

.hop input {
    background-color: #f9f9f9;
}

.hop button {
    background-color: inherit;
    margin: auto;
}

.hop select {
    background-color: #f9f9f9;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    align-self: stretch;
}

.ibu-input {
    width: 80px;
    margin: 2px;
    padding: 2px;
    //text-align: center;
    //vertical-align: middle;
}


.ibu-text {
    width: 60px;
    margin: 2px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}

.ibu-select {
    width: 80px;
    margin: 2px;
    padding: 2px;
    height: 100%;
}

.ibu-total {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.add-button {
    margin-top: 10px;
    height: 30px;
}