$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$breakpoint-alpha: 480px;
// can add Boostrap overrides, additional Sass/CSS below...
body {
    background-color: #f6f6f6;
    text-rendering: optimizeLegibility;
}

button {
  //color: #fff;
  background-color: inherit;
  text-shadow: 1px 1px #a8a8a8;
  border: none;
  padding: 5px;
}

h5 {
    font-weight: bold;
    font-size: 10px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-size: 2em;
}

.header {
    display: flex;
    flex-flow: row wrap;
    background-color: #a8a8a8;
    color: white;
    width: 100%;
}

.header div {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.formulas {
    display: flex;
    flex-flow: column wrap;
    //width: 350px;
}

.formulas .formula:nth-child(even) {
    background-color: #f6f6f6;
}

.formulas .formula:nth-child(odd) {
    background-color: #dbdbdb;
}

.formula {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    padding: 6px;
    justify-content : space-between;
    font-size: 1.5em;
}

.formula .title {
    //width: 210px;
}

.formula .value {
    width: 90px;
}

.input-groups {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
    padding: 5px;
}
.inputs {
    display: flex;
    flex-flow: row wrap;
    //width: 120px;
    align-items: center;
}

.inputs label {
    margin: 0;
    margin-right: 4px;
}

.inputs input {
    width: 3em;
    background-color: #dbdbdb; 
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selected-header {
    background-color: lightblue;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    //border-top: 1px solid #ddd;
    //border-bottom: 1px solid #ddd;
    &:nth-child(odd) {
        background-color: #f6f6f6;
    }
    &:nth-child(even) {
        background-color: #dbdbdb;
    }
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)" ";
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 7em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}


.rwd-table {
  //background: #34495E;
  color: #000;
  border-radius: .4em;
  overflow: hidden;
  tr {
    //border-color: lighten(#000, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important;
    }
  }
//   th, td:before {
//     color: #000;
//   }
}